.containerProfile {
  margin: 8em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .profile {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 2em;
    margin: 0 auto;

    .items {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-left: solid 2px #fa7762;
      padding-left: 1em;

      .name {
        margin: 0.5em;
      }

      .phone {
        margin: 0.5em;
      }

      .email {
        margin: 0.5em;
      }

      .updatedDate {
        margin: 0.5em;
      }

      .createdDate {
        margin: 0.5em;
      }
    }
  }
  .edit {
    margin: 0 auto;
  }
}
