.header {
  background-color: white;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding-bottom: 1em;
  padding-top: 1em;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;

  a {
    text-decoration: none;
    color: black;
  }

  .logo-container {
    .logo {
      padding-top: 0.5em;
    }
  }
  .options {
    display: flex;
    justify-content: space-evenly;

    .option {
      color: black;
      padding: 1.3em;
    }

    div:hover {
      background-color: #9b2335;
      border-radius: 25px;
      a {
        color: white;
      }
    }
  }

  .userInfo {
    display: flex;
    flex-direction: row;
    background-color: #343a40;
    color: white;
    border-radius: 25px;

    div:hover {
      font-weight: 700;
    }

    .signin-logout {
      padding: 1.3em;
      cursor: pointer;
    }

    .name {
      padding: 1.3em;
      border-right: solid 2px white;

      a {
        color: white;
      }
    }
  }
}
